@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tom-select/dist/css/tom-select.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

[x-cloak] {
    display: none !important;
}
.hero-gradient {
    background: linear-gradient(
        180deg,
        rgba(244, 247, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #3056d3;
    border-radius: 10px;
}
